<header class="header flex-row">
  <div>
  <%  if back_button  %>
    <%= link_to back_url do %>
    <%= image_tag('left-arrow.png', size: "20x20") %>
    <% end %>
  <% end %>
  </div>
  <div class="title">
    <%= title %>
  </div>
</header>